<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/public/Css/conv.css">
    <title>Results</title>
  </head>
  <body>
    <div class="container">
      <h1>Results</h1>
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Last</th>
            <th>Buy / Sell Price</th>
            <th>Difference</th>
            <th>Volume</th>
          </tr>
        </thead>
        <tbody id="results-table-body"></tbody>
      </table>
    </div>

    <script src="/public/Js/conv.js"></script>
  </body>
</html>
